
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #cec6c6;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

form {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 2rem;
    color: #dd5805;
    font-weight: bold;
    margin: 0;
}


fieldset {
    border: 1px solid #cccccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #333333;
    padding: 0 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="submit"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}


input::placeholder,
textarea::placeholder {
    color: #aaaaaa;
}


input[type="submit"] {
    background-color: #ec6708;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #4e1d03;
}


textarea {
    resize: vertical;
    min-height: 80px;
}